<link rel='stylesheet' type='text/css' href='/static/css/fullcalendar.css' />
<script type="text/javascript">
var me, myprj, validator, datestart, dateend, cevent, calendar, firstday, lastday, myhours = new Array();
var tasks = ["","Office","Away"];
$(document).ready( function() {
  calendar = $('#calendar').fullCalendar({
    firstDay:1,
    weekNumbers:true,
    selectable:true,
    select: function(start, end, allDay) {
      datestart = start;
      dateend = end;
      $('#edithours').modal('show');
    },
    eventClick: function(calEvent, jsEvent, view) {
      cevent = calEvent;
      $('#removehours').modal('show');
    },
    viewRender : function(view,element) {
      if(myhours.length != 0) {
        currentVis();
        filter = { 'date_from' : firstday, 'date_to' : lastday, 'user_id' : me._id };
        day.load(filter,loadDays);
      }
    }
  });
  $("#hours-range").slider({
    range: "min",
    min: 1,
    max: 8,
    value: 8,
    slide: function( event, ui ) {
      $("#hoursamount").val( ui.value );
    }
  });
  $("#btnsave").click(function () {
    if(!validator.form())
      return;
    var obj = {};
    obj.project = $('#hoursproject').find('option:selected').val();
    obj.projectname = $('#hoursproject').find('option:selected').text();
    obj.amount = Number($("#hoursamount").val());
    obj.task = Number($('#hourstask').find('option:selected').val());
    obj.isextra = $("#hoursisextra").is(':checked') ? true : false;
    obj.note = $("#hoursnotes").val();
    addCalEvent(datestart, dateend, obj, true);
    $('#edithours').modal('hide');
  });
  $("#btnremove").click(function () {
    var cday = cevent.start.getDate() - 1;
    var i, event = {};
    for(i = 0; i < myhours[cday].users[0].hours.length; i++) {
      event.project = cevent.id.substr(11,24);
      event.isextra = cevent.id.substr(36).bool();
      event.date = simpleDate(cevent.start);
      if(eventCompare(myhours[cday].users[0].hours[i],event)) {
        myhours[cday].users[0].hours.splice(i,1);
        var singleday = [{}];
        singleday[0] = myhours[cday];
        day.update(true, singleday, loadCalendarHours);
        break;
      }
    }
    $('#removehours').modal('hide');
  });
  $("#hoursamount").val( $("#hours-range").slider("value"));
  currentVis();
  user.me(userdata);
  validator = $("#frmedithours").validate({
    rules: {
      hoursamount: {
        required: true,
        min: 1,
        max: 8,
      }
    },
    highlight: function (element) {
      $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function (element) {
      $(element).closest('.form-group').removeClass('has-error');
    }
  });
});

function userdata(data){
  me = data;
  var filter = [ { 'employees._id' : me._id }, { name: 1, tasks : 1 } ];
  project.load(filter,loadprojects,"");
}

function currentVis() {
  firstday = simpleDate(calendar.fullCalendar('getView').start);
  lastday = new Date(calendar.fullCalendar('getView').end);
  lastday.setDate(lastday.getDate()-1);
  lastday = simpleDate(lastday);
}

function eventCompare(array, myevent) {
  if(array.project == myevent.project && array.isextra == myevent.isextra)
    return true;
  else
    return false;
}

function loadDays(data) {
  var i, index;
  var aday = firstday;
  var last = Number(lastday.substr(8));
  for(i=0; i < last; i++) {
    aday = new Date(aday);
    myhours[i] = {};
    myhours[i].date = simpleDate(aday);
    aday.setDate(aday.getDate() + 1);
  }
  for(i=0; i< data.records.length; i++) {
    index = Number(data.records[i].date.substr(8));
    myhours[index-1].users = data.records[i].users;
  }
  loadCalendarHours(myhours);
}

function loadprojects(data, target) {
  var i, j, index, htmlselect = "<option value=''></option>";
  myprj = data.records;
  for(i = 0; i < myprj.length; i++) {
    htmlselect += "<option value='" + myprj[i]._id + "'>" + myprj[i].name + "</option>";
  }
  $("#hoursproject").html(htmlselect);
  $("#hoursproject").change(function() {
    var htmlselect = "<option value=''></option>";
    for(i = 0; i < myprj.length; i++) {
      if (myprj[i]._id == $(this).val())  {
        for(j = 0; j < myprj[i].tasks.length; j++) {
          index = myprj[i].tasks[j];
          htmlselect += "<option value='" + index + "'>" + tasks[index] + "</option>";
        }
        break;
      }
    }
    $("#hourstask").html(htmlselect);
  });
  filter = { 'date_from' : firstday, 'date_to' : lastday, 'user_id' : me._id };
  day.load(filter,loadDays);
}

function addCalEvent(start, end, event, allDay) {
  var diffdays = end.getDate() - start.getDate();
  var cday, i, j, found;
  for(i = 0; i <= diffdays; i++) {
    if ( start.getDay() == 6 || start.getDay() == 0 ) {
      start = new Date(start);
      start.setDate(start.getDate()+1);
      continue;
    }
    cday = start.getDate()-1;
    if (myhours[cday].users) {
      found = false;
      //search for same event data
      for(j = 0; j < myhours[cday].users[0].hours.length; j++) {
        if(myhours[cday].users[0].hours[j].project == event.project) {
          saveEvent(myhours[cday].users[0].hours[j], event);
          found = true;
        }
      }
      if(!found) {
        myhours[cday].users[0].hours[j] = {}
        saveEvent(myhours[cday].users[0].hours[j], event);
      }
    } else {
      myhours[cday].users = new Array();
      myhours[cday].users[0] = {}
      myhours[cday].users[0].user_id = me._id;
      myhours[cday].users[0].hours = new Array();
      myhours[cday].users[0].hours[0] = {};
      saveEvent(myhours[cday].users[0].hours[0], event);
    }
    start = new Date(start);
    start.setDate(start.getDate()+1);
   }
  //savedata
  day.update(true, myhours, nothing);
  loadCalendarHours(myhours);
  calendar.fullCalendar('unselect');
}

function saveEvent(arrayEl, event) {
  arrayEl.project = event.project;
  arrayEl.amount = Number(event.amount);
  arrayEl.isextra = event.isextra;
  arrayEl.note = event.note;
  arrayEl.task = Number(event.task);
}

function nothing(){

}

function loadCalendarHours(list) {
  if(!list.error)
    list = myhours;
  var i, j, singleentry;
  $("#calendar").fullCalendar('removeEvents');
  for(i = 0; i < list.length; i++) {
    if(list[i].users) {
      for(j = 0; j < list[i].users[0].hours.length; j++) {
      //add event
        var event = {};
        singleentry = list[i].users[0].hours[j];
        event.id = list[i].date + "+" + singleentry.project + "+" + singleentry.isextra;
        event.title = project.getname(singleentry.project) + " " + singleentry.amount + "h";
        event.start = list[i].date;
        event.end = list[i].date;
        event.note = singleentry.note;
        if(singleentry.isextra)
          event.borderColor = "#f00";
        $("#calendar").fullCalendar('renderEvent', event , false);
      }
    }
  }
}
</script>

<div id="calendar"></div>

<div class="modal fade" id="removehours" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Remove hours</h4>
        </div>
        <div class="modal-body">
          Do you really want to remove these hours from your timesheet?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="btnremove">Remove</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div class="modal fade" id="edithours">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add hours</h4>
      </div>
      <div class="modal-body">
	<form class="form-horizontal" id="frmedithours">
	  <div class="form-group">
	    <label for="hoursproject" class="col-lg-3 control-label">Project</label>
	    <div class="col-lg-9">
	      <select class="form-control" name="hoursproject" id="hoursproject" required>
              </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="hourstask" class="col-lg-3 control-label">Task</label>
	    <div class="col-lg-9">
	      <select class="form-control" name="hourstask" id="hourstask" required>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="hoursamount" class="col-lg-3 control-label">Hours</label>
	    <div class="col-lg-7">
		<div id="hours-range"></div>
	    </div>
	      <div class="col-lg-2">
	        <input type="text" class="form-control" name="hoursamount" id="hoursamount">
	      </div>
	  </div>
	  <div class="form-group">
	    <label for="hoursisextra" class="col-lg-3 control-label">Is extra hour</label>
	    <div class="col-lg-9">
	      <input type="checkbox" id="hoursisextra">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="hoursnotes" class="col-lg-3 control-label">Notes</label>
	    <div class="col-lg-9">
	      <textarea class="form-control" rows="3" id="hoursnotes" placeholder="Notes"></textarea>
	    </div>
	  </div>
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnsave">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
