<script type="text/javascript">
var cur_trips, trip_id, cur_expences, cur_id, motivation;
var labels = ["from","city","country","start","end","description","accommodation"];
$(document).ready(function() {
  user.me(userdata);
  $("#btnreject").click(function() {
    motivation = $("#tripnote").text();
    var filter = [{"trips._id": cur_id, "responsible._id" : me._id },{trips:1},{name:1}];
    trip.loaddetails(filter, rejectTrip, "");
    $('#rejecttrip').modal('hide');
  });
});

function userdata(data){
  me = data;
  if(me.group == "project manager")
    loadTripsList("tripreq");
}

function loadExpences(container) {

}

function loadTripsList(list) {
 var filter = { start:"2013-01-01", end:"2014-12-31", status:[3], responsible_id: me._id };
  trip.load(filter, loadTrips, list);
}

function loadTrips(data, container) {
  var i,j;
  var htmllist = "";
  cur_trips = data;
  for(i=0;i < data.length; i++) {
      htmllist += "<li id='" + data[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-edit'></span> " + data[i].city + " " + data[i].start + " <button data-toggle='popover' type='button' class='btn btn-default btn-sm'><span class='glyphicon glyphicon-info-sign'></span>  Details</button> <button type='button' class='btn btn-success btn-sm'><span class='glyphicon glyphicon-thumbs-up'></span>  Accept</button>  <button type='button' class='btn btn-danger btn-sm'><span class='glyphicon glyphicon-thumbs-down'></span>  Reject</button></li>";
  }
  $("#" + container).html(htmllist);
  $("#" + container + " .list-group-item button.btn-default").each(function() {
    var curid = $(this).parent().attr("id");
    $(this).popover({
        html: true,
        placement: 'top',
        content: generateTripPopover(curid, cur_trips),
    });
  });
  $("#" + container + " .list-group-item button.btn-success").click(function() {
    cur_id = $(this).parent().attr("id");
    var filter = [{"trips._id": cur_id, "responsible._id" : me._id },{trips:1},{name:1}];
    trip.loaddetails(filter, authorizeTrip, "");
  });
  $("#" + container + " .list-group-item button.btn-danger").click(function() {
    cur_id = $(this).parent().attr("id");
    $('#rejecttrip').modal('show');
  });
}

function authorizeTrip(data, container) {
  data[0].trips[0].status = 4;
  data[0].trips[0].note = "";
  trip.updatestatus(data, removeElement);
}

function rejectTrip(data, container) {
  data[0].trips[0].status = 4;
  data[0].trips[0].note = motivation;
  trip.updatestatus(data, removeElement);
}

function removeElement() {
  $("#" + cur_id).remove();
}

function generateTripPopover(id, ctrips) {
  var html = '<h4>Trip Details:</h4><dl class="dl-horizontal">';
  var i,j;
  for(i=0; i < ctrips.length; i++) {
    if(ctrips[i]._id == id) {
      for(j=0; j<labels.length; j++) {
        key = labels[j];
        if(key=="accommodation") {
          html += "services requested";
        } else {
          html += '<dt>' + capFirstLet(key) + '</dt><dd>' + ctrips[i][key] + '</dd>';
        }
      }
      break;
    }
  }
  return html;
}
</script>
<div style="min-height:200px;display:block"></div>
<p>List of trip waiting for approval</p>
<ul id="tripreq"></ul>
<p>List of expences waiting for approval</p>
<ul id="expreq"></ul>
<div class="modal fade" id="rejecttrip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Reject trip request</h4>
        </div>
        <div class="modal-body">
          Motivation:
          <textarea class="form-control" id="tripnote" name="tripnote" rows="3" placeholder="Description"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="btnreject">Reject</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
