<script type="text/javascript">
var validator, isupdate = false;
$(document).ready(function() {
  resetOfferForm();
  loadProjectsList("offerproject");
  $('.rapidsearch').rapidsearch();
  $("#btnreset").click(function() {
    resetOfferForm(true);
  });
  $("#btnremove").click(function() {
    offer.remove($("#offer_id").val(),resetOfferForm);
  });
  $("#offerForm").submit(function(event) {
    event.preventDefault();
    if(!validator.form())
      return;
    offer.update(isupdate, "offerForm", resetOfferForm);
  });
  $("#fileupload").click(function() {
    var value = $("#offerfile").val();
    if(value != "") {
      file.upload($("#offerfile")[0].files[0], uploadComplete, uploadFailed);
    }
  });
  validator = $("#offerForm").validate({
    rules: {
      offeramount: {
        required: true,
        number: true,
        min: 0
      },
      offerpaydelay: {
        required: true,
        digits: true,
        min: 1
      },
    },
    highlight: function (element) {
      $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function (element) {
      $(element).closest('.form-group').removeClass('has-error');
    }
  });
});

function uploadComplete(data) {
  var response = jQuery.parseJSON( data.target.responseText )
  $('offerupload_id').val(response.id_upload);
  $('#offerfiles').append(generateFileEntry(response.upload_id,$("#offerfile").val()));
  $("#offerfile").val("");
  $('#offerfiles li:last span').click(function() {
    file.delete($(this).parent().attr("id"), deleteFile, $(this).parent());
  });
}

function deleteFile(li, data) {
  $(li).remove();
}

function uploadFailed(evt) {
  showmessage("error", "There was an error attempting to upload the file.");
}

function loadOffersList(list) {
  var filter = [{},{name:1},{name:1}];
  offer.load(filter, loadOffers, list);
}

function loadProjectsList(list) {
  var filter = [{},{name:1},{name:1}];
  project.load(filter, loadProjects, list);
}

function createFilterForm(container) {
  var filter = [{},{},{name:1}];
  $("#" + container + " input, #" + container + " select, #" + container + " textarea").each(function (){
    var property = $(this).attr("id").substr(5);
    if (property == "_id" || property == "file")
      return;
    filter[1][property] = 1;
  });
  filter[1].upload_files = 1;
  return filter;
}
function resetOfferForm(load) {
  if(load == true) {} else {
    loadOffersList("offersList");
  }
  isupdate = false;
  $("#offerForm")[0].reset();
  $("#offer_id").val(0);
  $("#btnremove").addClass("hidden");
  $("#offerfiles").html("");
  $("#offersList li").removeClass("active");
  $("#btnsubmit").html("<span class='glyphicon glyphicon-plus'></span> Add");
}

function loadProjects(data, args) {
  var i, container = args[0];
  var htmlselect = "<option value=''></option>";
  for(i=0;i < data.length; i++) {
    htmlselect += "<option value='" + data[i]._id + "'>" + data[i].name + "</option>";
  }
  $("#" + container).html(htmlselect);
}

function loadOffers(data, args) {
  var i, container = args[0];
  var htmllist = "";
  for(i=0;i < data.length; i++) {
    htmllist += "<li id='" + data[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-edit'></span> " + data[i].name + "</li>";
  }
  //add line for new project
  htmllist += "<li class='list-group-item'><span class='glyphicon glyphicon-plus'></span> New Project ...</li>";
  $("#" + container).html(htmllist);
  $('.rapidsearch').rapidsearch('update');
  $("#" + container + " .list-group-item").click(function() {
    resetOfferForm(true);
    $(this).addClass("active");
    if(this.id == "")
      return;
    isupdate = true;
    var filter = createFilterForm("offerForm");
    filter[0]._id = this.id;
    offer.loadSingle(filter,loadOfferDetails);
  });
}

function generateFileEntry(id, name) {
  return '<li id="' + id + '" class="list-group-item"><a href="/file/download/'+ id + '">' + name + '</a> <span class="glyphicon glyphicon-trash"></span></li>'
}

function loadOfferDetails(data) {
  var i, htmlli = "";
  for(var key in data[0]) {
    if(data[0][key] == true || data[0][key] == false) {
      $("#offer" + key).prop('checked',data[0][key]);
    } else {
      if(key != "upload_files") {
        $("#offer" + key).val(data[0][key]);
      } else {
        for(i = 0; i < data[0][key].length; i++) {
          htmlli += generateFileEntry(data[0][key][i].id, data[0][key][i].name);
        }
        $("#offerfiles").append(htmlli);
        $('#offerfiles li span').click(function() {
          deleteFile($(this).parent(), $(this).parent().attr("id"));
        });
      }
    }
  }
  $(".btn-danger").removeClass("hidden");
  $("#btnsubmit").html("<span class='glyphicon glyphicon-edit'></span> Update");
}
</script>
<h2>Offers Management</h2>
<div class="row">
  <div class="col-lg-3">
    <h3>Current offers list</h3>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
      <input type="text" class="form-control rapidsearch" placeholder="Rapid Search" id="txtoffers">
    </div>
    <p></p>
    <ul class="list-group" id="offersList"></ul>
  </div>
  <div class="col-lg-5">
    <h3>Offer Details</h3>
    <form class="form-horizontal" role="form" id="offerForm" method="post" action="/index/offers">
<input type="hidden" id="offer_id" value="0">
<div class="form-group">
    <label for="offerproject" class="col-lg-4 control-label">Project</label>
    <div class="col-lg-6">
      <select class="form-control" id="offerproject" name="offerproject" required>
      </select>
    </div>
  </div>
<div class="form-group">
    <label for="offername" class="col-lg-4 control-label">Name</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="offername" name="offername" placeholder="Name" required>
    </div>
  </div>
<div class="form-group">
    <label for="offerdescription" class="col-lg-4 control-label">Description</label>
    <div class="col-lg-6">
      <textarea class="form-control" id="offerdescription" name="offerdescription" rows="3" placeholder="Description" required></textarea>
    </div>
  </div>
<div class="form-group">
    <label for="offeramount" class="col-lg-4 control-label">Amount</label>
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" id="offeramount" name="offeramount" placeholder="10.000">
        <span class="input-group-addon">&euro;</span>
      </div>
    </div>
</div>
<div class="form-group">
    <label for="offerexpences" class="col-lg-4 control-label">Expences included</label>
    <div class="col-lg-6">
      <input type="checkbox" id="offerexpences">
    </div>
  </div>
<div class="form-group">
    <label for="offerpaydelay" class="col-lg-4 control-label">Payment Delay</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="offerpaydelay" name="offerpaydelay" placeholder="60">
    </div>
  </div>
<div class="form-group">
    <label for="offercustomerref" class="col-lg-4 control-label">Customer reference</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="offercustomerref" placeholder="Reference">
    </div>
  </div>
<div class="form-group">
    <label for="offerfile" class="col-lg-4 control-label">Upload a file</label>
    <div class="col-lg-6">
      <input type="file" name="data" id="offerfile">
<button type="button" class="btn btn-default" id="fileupload"><span class="glyphicon glyphicon-upload"></span> Upload</button>
    </div>
  </div>
<div class="form-group">
  <label class="col-lg-4 control-label">List of uploaded files</label>
  <div class="col-lg-6">
    <ul class="list-group" id="offerfiles"></ul>
  </div>
</div>
<div class="form-group">
    <div class="col-lg-offset-4 col-lg-7">
      <button type="submit" class="btn btn-primary" id="btnsubmit"><span class="glyphicon glyphicon-plus"></span> Add</button>
      <button type="reset" class="btn" id="btnreset"> Reset</button>
      <button type="button" class="btn btn-danger hidden" id="btnremove"><span class="glyphicon glyphicon-trash"></span> Remove</button>
    </div>
</div>
    </form>
  </div>
</div>
