<script type="text/javascript">
var isupdate = false;
$(document).ready(function() {
  loadProjectsList("projectsList");
  loadCustomersList("projectcustomer");
  loadUsersList("usersList");
  $(".datepicker").datepicker();
  $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
  $('.rapidsearch').keyup(function () {
    var list = this.id.substr(3);
    var currenttext = $(this).val().toLowerCase();
    if (currenttext == "") {
      resetvisibility($('#' + list + 'List li'));
      return;
    }
    filterlist($('#' + list + 'List li'), currenttext);
  });
  $("#btnreset").click(function() {
    resetProjectsForm();
  });
  $("#btnremove").click(function() {
    project.remove($("#project_id").val(),resetProjectsForm);
    loadProjectsList("projectsList");
  });
  $("#projectForm").submit(function(event) {
    event.preventDefault();
    project.update(isupdate, "projectForm", resetProjectsForm);
    loadProjectsList("projectsList");
  });
});

function loadProjectsList(list) {
  var filter = [{},{name:1}];
  project.load(filter, loadProjects, list);
}
function loadCustomersList(list) {
  var filter = [{},{name:1}];
  customer.load(filter, loadCustomers, list);
}
function loadUsersList(list) {
  var filter = [{},{name:1,surname:1}];
  user.load(filter, loadUsers, list);
}

function createFilterForm(container) {
  var filter = [{},{}];
  $("#" + container + " input, #" + container + " select, #" + container + " textarea").each(function (){
    var property = $(this).attr("id").substr(7);
    if (property == "_id")
      return;
    filter[1][property] = 1;
  });
  filter[1].responsible = 1;
  filter[1].employees = 1;
  return filter;
}
function resetProjectsForm()
{
  isupdate = false;
  $("#projectForm")[0].reset();
  $("#project_id").val(0);
  $("#btnremove").addClass("hidden");
  $("#projectsList li").removeClass("active");
  $("#btnsubmit").html("<span class='glyphicon glyphicon-plus'></span> Add");
  $("#usersList li").removeClass("active");
  $("#responsibleid").val(0);
  $("#usersForm h4 span").text("");
}
function loadUsers(data, container) {
  var i;
  var htmllist = "";
  for(i=0;i < data.records.length; i++) {
    htmllist += "<li id='" + data.records[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-user'></span> " + data.records[i].name + " " + data.records[i].surname + "</li>";
  }
  $("#" + container).html(htmllist);
  $("#" + container + " .list-group-item").click(function() {
    var beforeusers = $("#usersList .active").length;
    $(this).toggleClass("active");
    var afterusers = $("#usersList .active").length;
    if(afterusers == 1 && (beforeusers-afterusers) < 0) {
      $("#usersForm h4 span").text($(this).text());
      $("#responsibleid").val(this.id);
    } else if(afterusers == 0) {
      $("#usersForm h4 span").text("");
      $("#responsibleid").val(0);
    }
  });
}

function loadProjects(data, container) {
  var i;
  var htmllist = "";
  for(i=0;i < data.records.length; i++) {
    htmllist += "<li id='" + data.records[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-edit'></span> " + data.records[i].name + "</li>";
  }
  //add line for new project
  htmllist += "<li class='list-group-item'><span class='glyphicon glyphicon-plus'></span> New Project ...</li>";
  $("#" + container).html(htmllist);
  $("#projectsList .list-group-item").click(function() {
    $("#projectsList .list-group-item").removeClass("active");
    $(this).addClass("active");
    isupdate = true;
    var filter = createFilterForm("projectForm");
    filter[0]._id = this.id;
    project.load(filter,loadProjectDetails, container);
  });
  $("#projectsList .list-group-item:last").click(function() {
    resetProjectsForm();
  });
}

function loadProjectDetails(data,container) {
  for(var key in data.records[0]) {
    $("#project" + key).val(data.records[0][key]);
  }
  $("#usersForm h4 span").text(data.records[0].responsible.name);
  $("#responsibleid").val(data.records[0].responsible._id);
  setActiveUsers(data.records[0].employees);
  $(".btn-danger").removeClass("hidden");
  $("#btnsubmit").html("<span class='glyphicon glyphicon-edit'></span> Update");
}

function setActiveUsers(employees) {
  var i;
  for (i = 0; i < employees.length; i++) {
    $("#" + employees[i]._id).addClass("active");
  }
}

function loadCustomers(data, container) {
  var i;
  var htmlselect = "<option value=''></option>";
  for(i=0;i < data.records.length; i++) {
    htmlselect += "<option value='" + data.records[i]._id + "'>" + data.records[i].name + "</option>";
  }
  $("#" + container).html(htmlselect);
}

//restore visibility for each element in list
function resetvisibility(elem) {
  $(elem).each(function () {
    $(this).removeClass("hidden");
  });
}

function filterlist(list, currenttext) {
  $(list).each(function () {
    var elemname = $(this).text().toLowerCase();
    if (elemname.indexOf(currenttext) != -1)
      $(this).removeClass("hidden");
    else
      $(this).addClass("hidden");
  });
}
</script>
<h2>Projects Management</h2>
<div class="row">
  <div class="col-lg-3">
    <h3>Current projects list</h3>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
      <input type="text" class="form-control rapidsearch" placeholder="Rapid Search" id="txtprojects">
    </div>
    <p></p>
    <ul class="list-group" id="projectsList">
  </div>
  <div class="col-lg-5">
    <h3>Project Details</h3>
    <form class="form-horizontal" role="form" id="projectForm" method="post" action="/index/projects">
<input type="hidden" id="project_id" value="0">
<div class="form-group">
    <label for="projectcustomer" class="col-lg-4 control-label">Customer</label>
    <div class="col-lg-6">
      <select class="form-control" id="projectcustomer">
      </select>
    </div>
  </div>
<div class="form-group">
    <label for="projecttype" class="col-lg-4 control-label">Type</label>
    <div class="col-lg-6">
      <select class="form-control" id="projecttype">
  <option value="1">Development</option>
  <option value="2">Research</option>
  <option value="3">Business</option>
      </select>
    </div>
  </div>
<div class="form-group">
    <label for="projectname" class="col-lg-4 control-label">Name</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="projectname" placeholder="Name">
    </div>
  </div>
<div class="form-group">
    <label for="projectname" class="col-lg-4 control-label">Description</label>
    <div class="col-lg-6">
      <textarea class="form-control" id="projectdescription" rows="3" placeholder="Description"></textarea>
    </div>
  </div>
<div class="form-group">
    <label for="projectcontact_person" class="col-lg-4 control-label">Contact Person</label>
    <div class="col-lg-6">
      <input type="text" class="form-control" id="projectcontact_person" placeholder="Contact Person">
    </div>
</div>
<div class="form-group">
    <label for="projectstart" class="col-lg-4 control-label">Date start</label>
    <div class="col-lg-6">
      <input type="text" class="form-control datepicker" id="projectstart" placeholder="2013-1-1">
    </div>
  </div>
<div class="form-group">
    <label for="projectend" class="col-lg-4 control-label">Date end</label>
    <div class="col-lg-6">
      <input type="text" class="form-control datepicker" id="projectend" placeholder="2020-12-31">
    </div>
  </div>
<div class="form-group">
  <label for="projecttasks" class="col-lg-4 control-label">Tasks</label>
  <div class="col-lg-6">
    <select multiple class="form-control" id="projecttasks">
      <option value="1">Office</option>
      <option value="2">Away</option>
    </select>
  </div>
</div>
<div class="form-group">
    <div class="col-lg-offset-4 col-lg-7">
      <button type="submit" class="btn btn-primary" id="btnsubmit"><span class="glyphicon glyphicon-plus"></span> Add</button>
      <button type="reset" class="btn" id="btnreset"> Reset</button>
      <button type="button" class="btn btn-danger hidden" id="btnremove"><span class="glyphicon glyphicon-trash"></span> Remove</button>
    </div>
</div>
    </form>
  </div>
  <div class="col-lg-4">
    <h3>Team components</h3>
    <form class="form-horizontal" role="form" id="usersForm" method="post" action="/index/projects">
    <p>Select responsible and then people involved in the project.</p>
    <h4>Responsible: <span></span></h4>
    <input type="hidden" id="responsibleid" value="0">
<div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
      <input type="text" class="form-control rapidsearch" placeholder="Rapid Search" id="txtusers">
    </div>
<p></p>
    <ul class="list-group" id="usersList"></ul>
  </form>
  </div>
</div>
