<script type="text/javascript">
var validator;
$(document).ready(function() {
  loadProjectsList("reportproject");
  loadUsersList("usersList");
  $("div.results").hide();
  $(".datepicker").datepicker();
  $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
  $('.rapidsearch').keyup(function () {
    var list = this.id.substr(3);
    var currenttext = $(this).val().toLowerCase();
    if (currenttext == "") {
      resetvisibility($('#' + list + 'List li'));
      return;
    }
    filterlist($('#' + list + 'List li'), currenttext);
  });
  $("#reportstart").change(function() {
    var firstday = new Date($(this).val());
    var lastday = new Date(firstday.getFullYear(), firstday.getMonth() + 1,0);
    $("#reportend").val(simpleDate(lastday));
  });
  $("#btnreset").click(function() {
    resetReportsForm();
  });
  $("#reportForm").submit(function(event) {
    event.preventDefault();
    if(!validator.form())
      return;
    $('#reportwait').modal('show');
    $("div.results").show();
    report.load("reportForm", loadReportResults);
  });
  validator = $("#reportForm").validate({
    rules: {
      reportstart: {
        required: true,
        dateISO: true
      },
      reportend: {
        required: true,
        dateISO: true
      }
    },
    highlight: function (element) {
      $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function (element) {
      $(element).closest('.form-group').removeClass('has-error');
    }
  });
});

function loadProjectsList(list) {
  var filter = [{},{name:1}];
  project.load(filter, loadProjects, list);
}

function loadUsersList(list) {
  var filter = [{},{name:1,surname:1}];
  user.load(filter, loadUsers, list);
}

function resetReportsForm()
{
  $("#usersList li").removeClass("active");
  $("div.results").hide();
  $("#real").html("");
}

function loadUsers(data, container) {
  var i;
  var htmllist = "";
  for(i=0;i < data.records.length; i++) {
    htmllist += "<li id='" + data.records[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-user'></span> " + data.records[i].name + " " + data.records[i].surname + "</li>";
  }
  $("#" + container).html(htmllist);
  $("#" + container + " .list-group-item").click(function() {
    $(this).toggleClass("active");
  });
}

function loadProjects(data, container) {
  var i;
  var htmlselect = "<option value=''>All</option>";
  for(i=0;i < data.records.length; i++) {
    htmlselect += "<option value='" + data.records[i]._id + "'>" + data.records[i].name + "</option>";
  }
  $("#" + container).html(htmlselect);
}

function loadReportResults(data) {
  var i, j, totalhours = 0, totalextra = 0, table="<table class='table table-condensed table-striped'>";
  table+="<thead><tr><th>Date</th><th>Employee Name</th><th>Project</th><th>Worked hours</th><th>Task</th></tr></thead><tbody>";
  for(i = 0; i < data.length; i++) {
    for(j = 0; j < data[i].hours.length; j++) {
      table+="<tr><td>" + data[i]._id.date +  "</td><td>" + user.getname(data[i]._id.user_id) + "</td><td>" + project.getname(data[i].hours[j].project) + "</td><td>" + data[i].hours[j].amount + "h ";
      if(data[i].hours[j].isextra) {
        table += "<span class='label label-danger'>Extra hour</span>";
        totalextra += data[i].hours[j].amount;
      } else {
        totalhours += data[i].hours[j].amount;
      }
      table += "</td><td>" + getTaskName(data[i].hours[j].task) + "</td></tr>";
    }
    if((i+1 == data.length)|| data[i]._id.user_id != data[i+1]._id.user_id) {
      table += printtotalhours(totalhours, totalextra);
      totalhours = totalextra = 0;
    }
  }
  table+="</tbody></table>";
  $("#real").html(table);
  $('#reportwait').modal('hide');
}

function printtotalhours(hours, extra) {
  var rows, row = "<tr><td></td><td></td><td>";
  if (hours != 0) {
    rows = row;
    rows += "<strong>Total hours</strong></td><td><strong>" + hours + "h</strong></td><td></td></tr>";
  }
  if(extra != 0) {
    rows += row;
    rows += "<strong>Total extra hours</strong></td><td><strong>" + extra + "h</strong></td><td></td></tr>";
  }
  return rows;
}

//restore visibility for each element in list
function resetvisibility(elem) {
  $(elem).each(function () {
    $(this).removeClass("hidden");
  });
}

function filterlist(list, currenttext) {
  $(list).each(function () {
    var elemname = $(this).text().toLowerCase();
    if (elemname.indexOf(currenttext) != -1)
      $(this).removeClass("hidden");
    else
      $(this).addClass("hidden");
  });
}
</script>
<h2>Reports</h2>
<div class="row">
  <div class="col-lg-3">
    <h3>Users list</h3>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
      <input type="text" class="form-control rapidsearch" placeholder="Rapid Search" id="txtusers">
    </div>
    <p></p>
    <ul class="list-group" id="usersList"></ul>
  </div>
  <div class="col-lg-5">
    <h3>Report Details</h3>
    <form class="form-horizontal" role="form" id="reportForm" method="post" action="/index/reports">
<div class="form-group">
    <label for="reportstart" class="col-lg-4 control-label">Date start</label>
    <div class="col-lg-6">
      <input type="text" class="form-control datepicker" id="reportstart" name="reportstart" placeholder="2013-01-01">
    </div>
  </div>
<div class="form-group">
    <label for="reportend" class="col-lg-4 control-label">Date end</label>
    <div class="col-lg-6">
      <input type="text" class="form-control datepicker" id="reportend" name="reportend" placeholder="2020-12-31">
    </div>
  </div>
<div class="form-group">
    <label for="reportproject" class="col-lg-4 control-label">Project</label>
    <div class="col-lg-6">
      <select class="form-control" id="reportproject">
      </select>
    </div>
  </div>
<div class="form-group">
    <label for="reporthours" class="col-lg-4 control-label">Normal/Extra hours</label>
    <div class="col-lg-6">
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default">
    <input type="radio" name="options" id="hoursN"> Normal
  </label>
  <label class="btn btn-default">
    <input type="radio" name="options" id="hoursE"> Extra
  </label>
  <label class="btn btn-default active">
    <input type="radio" name="options" id="hoursB"> Both
  </label>
</div>
    </div>
  </div>
<div class="form-group">
  <label for="reporttasks" class="col-lg-4 control-label">Tasks</label>
  <div class="col-lg-6">
    <select multiple class="form-control" id="reporttasks">
      <option value="1">Office</option>
      <option value="2">Away</option>
    </select>
  </div>
</div>
<div class="form-group">
    <div class="col-lg-offset-4 col-lg-7">
      <button type="submit" class="btn btn-primary" id="btnsubmit"><span class="glyphicon glyphicon-search"></span> Generate</button>
      <button type="reset" class="btn" id="btnreset"> Reset</button>
    </div>
</div>
    </form>
  </div>
</div>
<div class="row results">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Report results</div>
<div id="real"></div>


</div>
</div>

<div class="modal fade" id="reportwait" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Processing...</h1>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
  </div>
</div>
      </div>
    </div>
  </div>
</div>
