<script type="text/javascript">
var me, validator,  htmlstatus, isupdate = false;
$(document).ready(function() {
  htmlstatus = "";
  for(i=1; i < statuses.length; i++) {
    htmlstatus += "<option value='" + i + "'>" + statuses[i] + "</option>";
  }
  $("#tripstatus").html(htmlstatus);
  $("#tripstatus").val("3");
  $(".datepicker").datepicker({format: "yyyy-mm-dd", autoclose:true});
  $('.rapidsearch').rapidsearch();
  $("#btnreset").click(function(event) {
    event.preventDefault();
    resetTripForm(true);
  });
  $("#btnremove").click(function() {
    var filter = [{}];
    filter[0]._id = $("#tripproject").val()
    filter[0].trips = [{}];
    filter[0].trips[0]._id = $("#trip_id").val()
    filter[0].trips[0].user_id = me._id

    trip.remove(filter,resetTripForm);
    loadTripsList("tripsList");
  });
  $("#btnsubmit, #btnsave").click(function(event) {
    event.preventDefault();
    if(!validator.form())
      return;
    if(this.id == "btnsubmit")
      trip.update(isupdate, "tripForm", sendapprove);
    else
      trip.update(isupdate, "tripForm", resetTripForm);
  });
  validator = $("#tripForm").validate({
    rules: {
      tripproject: {
        required: true
      },
      tripdescription: {
        required: true
      },
      tripstart: {
        required: true,
        dateISO: true
      },
      tripend: {
        required: true,
        dateISO: true
      },
      tripfrom: {
        required: true
      },
      tripcity: {
        required: true
      },
      tripcountry: {
        required: true
      },
    },
    highlight: function (element) {
      $(element).closest('.form-group').addClass('has-error');
    },
    unhighlight: function (element) {
      $(element).closest('.form-group').removeClass('has-error');
    }
  });
  user.me(userdata);
});

function sendapprove(data) {
  var filter = { project_id:$("#tripproject").val(), user_id: me._id, trip_id:data.ids[0], action:'approve', note:''};
  approval.set(filter, resetTripForm);
}

function userdata(data){
  me = data;
  loadTripsList("tripsList");
  loadProjectsList("tripproject");
}

function loadProjectsList(list) {
  var filter = [{ 'employees._id' : me._id }, { name: 1 }, { name: 1 }];
  project.load(filter, loadProjects, list);
}

function loadTripsList(list) {
  var filter = { start:"2013-01-01", end:"2014-12-31", status:[3], user_id: me._id, employee_id:me._id };
  trip.load(filter, loadTrips, list);
}

function createFilterForm(form) {
  var filter = [{},{},{ name: 1 }];
  $("#" + form + " input, #" + form + " select, #" + form + " textarea, #" + form + " checkbox" ).each(function (){
    var property = $(this).attr("id").substr(4);
    if (property == "_id")
      return;
    filter[1][property] = 1;  
  });
  filter[1].accommodation = 1;
  return filter;
}

function resetTripForm(load)
{
  if(load == true) {} else {
    loadTripsList("tripsList");
  }
  isupdate = false;
  $("#tripForm")[0].reset();
  $("#trip_id").val(0);
  $(":checkbox").parent().removeClass("active");
  $("#btnremove").addClass("hidden");
  $("#tripsList li").removeClass("active");
  $("#tripstatus").val("3");
}

function loadProjects(data, args) {
  var i, container = args[0];
  var htmlselect = "<option value=''></option>";
  for(i=0;i < data.length; i++) {
    htmlselect += "<option value='" + data[i]._id + "'>" + data[i].name + "</option>";
  }
  $("#" + container).html(htmlselect);
}

function loadTrips(data, container) {
  var i,j;
  var htmllist = "";
  for(i=0;i < data.length; i++) {
      htmllist += "<li id='" + data[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-edit'></span> " + data[i].city + " " + data[i].start + "</li>";
  }
  //add line for new trip
  htmllist += "<li class='list-group-item'><span class='glyphicon glyphicon-plus'></span> New Trip ...</li>";
  $("#" + container).html(htmllist);
  $('.rapidsearch').rapidsearch('update');
  $("#" + container + " .list-group-item").click(function() {
    resetTripForm(true);
    $(this).addClass("active");
    if(this.id == "")
      return;
    isupdate = true;
    loadTripDetails(trip.get(this.id), container);
  });
}

function loadTripDetails(data,container) {
  $("#tripproject").val(data.project_id);
  for(var key in data) {
    if(key  == "accommodation")
      continue;
    $("#trip" + key).val(data[key]);
  }
  for(var key in data.accommodation) {
    if(data.accommodation[key] == true )
      $("#trip" + key).parent().addClass("active");
    else if (data.accommodation[key] == false)
      $("#trip" + key).parent().removeClass("active");
  }
  $(".btn-danger").removeClass("hidden");
  $("#btnsubmit").html("<span class='glyphicon glyphicon-edit'></span> Submit");
}

</script>
<h2>Trips Management</h2>
<div class="row">
  <div class="col-lg-3">
    <h3>My trips</h3>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
      <input type="text" class="form-control rapidsearch" placeholder="Rapid Search" id="txttrips">
    </div>
    <p></p>
    <ul class="list-group" id="tripsList"></ul>
  </div>
  <div class="col-lg-5">
    <h3>Trip details</h3>
    <form class="form-horizontal" role="form" id="tripForm" method="post" action="/index/trips">
      <input type="hidden" id="trip_id" value="0">
      <div class="form-group">
        <label for="tripproject" class="col-lg-4 control-label">Project</label>
        <div class="col-lg-8">
          <select class="form-control" id="tripproject" name="tripproject"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="tripdescription" class="col-lg-4 control-label">Description</label>
        <div class="col-lg-8">
          <textarea class="form-control" id="tripdescription" name="tripdescription" rows="3" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="tripstatus" class="col-lg-4 control-label">Status</label>
        <div class="col-lg-8">
          <select class="form-control" id="tripstatus" name="tripstatus" disabled="disabled"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="tripstart" class="col-lg-4 control-label">Date start</label>
        <div class="col-lg-8">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
            <input type="text" class="form-control datepicker" id="tripstart" name="tripstart" placeholder="2013-01-01">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tripend" class="col-lg-4 control-label">Date end</label>
        <div class="col-lg-8">
          <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
            <input type="text" class="form-control datepicker" id="tripend" name="tripend" placeholder="2020-12-31">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tripend" class="col-lg-4 control-label">Services</label>
        <div class="col-lg-8">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" for="tripcar">
              <input type="checkbox" id="tripcar" ><span class='icon-car'></span>
            </label>
            <label for="tripairplane" class="btn btn-default">
              <input type="checkbox" id="tripairplane" ><span class='icon-airplane'></span>
            </label>
            <label class="btn btn-default" for="triphotel">
              <input type="checkbox" id="triphotel" ><span class='icon-hotel'></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tripfrom" class="col-lg-4 control-label">From</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="tripfrom" name="tripfrom">
        </div>
      </div>
      <div class="form-group">
        <label for="tripcity" class="col-lg-4 control-label">To</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="tripcity" name="tripcity">
        </div>
      </div>
      <div class="form-group">
        <label for="tripcountry" class="col-lg-4 control-label">Country</label>
        <div class="col-lg-8">
          <input type="text" class="form-control" id="tripcountry" name="tripcountry">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4 col-lg-8">
          <button type="submit" class="btn btn-primary" id="btnsubmit"><span class="glyphicon glyphicon-plus"></span> Submit</button>
          <button type="submit" class="btn btn-primary" id="btnsave"><span class="glyphicon glyphicon-save"></span> Save</button>
          <button type="reset" class="btn" id="btnreset"> Reset</button>
          <button type="button" class="btn btn-danger hidden" id="btnremove"><span class="glyphicon glyphicon-trash"></span> Remove</button>
        </div>
      </div>
    </form>
  </div>
</div>
