<script type="text/javascript">
var me, htmlstatus, isupdate = false;
$(document).ready(function() {
  htmlstatus = "";
  for(i=1; i < statuses.length; i++) {
    htmlstatus += "<option value='" + i + "'>" + statuses[i] + "</option>";
  }
  $("#tripstatus").html(htmlstatus);
  $(".datepicker").datepicker();
  $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd");
  $('.rapidsearch').keyup(function () {
    var list = this.id.substr(3);
    var currenttext = $(this).val().toLowerCase();
    if (currenttext == "") {
      resetvisibility($('#' + list + 'List li'));
      return;
    }
    filterlist($('#' + list + 'List li'), currenttext);
  });
  $("#btnreset").click(function() {
    resetTripForm();
  });
  $("#btnremove").click(function() {
    trip.remove($("#trip_id").val(),resetTripForm);
    loadTripsList("tripsList");
  });
  $("#tripForm").submit(function(event) {
    event.preventDefault();
    trip.update(isupdate, "tripForm", resetTripForm);    
    loadTripsList("tripsList");
  });
  user.me(userdata);
});

function userdata(data){
  me = data;
  loadTripsList("tripsList");
  loadProjectsList("tripproject");
}

function loadProjectsList(list) {
  var filter = [{ 'employees._id' : me._id },{name:1}];
  project.load(filter, loadProjects, list);
}

function loadTripsList(list) {
  var filter = [{user_id:me._id},{start:1, city:1}];
  trip.load(filter, loadTrips, list);
}

function createFilterForm(form) {
  var filter = [{},{}];
  
  $("#" + form + " input, #" + form + " select, #" + form + " textarea, #" + form + " checkbox" ).each(function (){
    var property = $(this).attr("id").substr(4);
    if (property == "_id")
      return;
    filter[1][property] = 1;  
  });
  filter[1].accommodation = 1;
  return filter;
}

function resetTripForm()
{
  isupdate = false;
  $("#tripForm")[0].reset();
  $("#trip_id").val(0);
  $(":checkbox").parent().removeClass("active");
  $("#btnremove").addClass("hidden");
  $("#tripsList li").removeClass("active");
}

function loadProjects(data, container) {
  var i;
  var htmlselect = "<option value=''></option>";
  for(i=0;i < data.records.length; i++) {
    htmlselect += "<option value='" + data.records[i]._id + "'>" + data.records[i].name + "</option>";
  }
  $("#" + container).html(htmlselect);
}

function loadTrips(data, container) {
  var i;
  var htmllist = "";
  for(i=0;i < data.records.length; i++) {
    htmllist += "<li id='" + data.records[i]._id + "'class='list-group-item'><span class='glyphicon glyphicon-edit'></span> " + data.records[i].city + " " + data.records[i].start + "</li>";
  }
  //add line for new trip
  htmllist += "<li class='list-group-item'><span class='glyphicon glyphicon-plus'></span> New Trip ...</li>";
  $("#" + container).html(htmllist);
  $("#" + container + " .list-group-item").click(function() {
    resetTripForm();
    $(this).addClass("active");
    if(this.id == "")
      return;
    isupdate = true;
    var filter = createFilterForm("tripForm");
    filter[0]._id = this.id;
    trip.load(filter,loadTripDetails, container);
  });
}

function loadTripDetails(data,container) {
  for(var key in data.records[0]) {
    $("#trip" + key).val(data.records[0][key]);
  }
  for(var key in data.records[0].accommodation) {
    if(data.records[0].accommodation[key] == true )  
      $("#trip" + key).addClass("active");
   if ( data.records[0].accommodation[key] == false) 
      $("#trip" + key).removeClass("active");
  }
  
  $(".btn-danger").removeClass("hidden");
  $("#btnsubmit").html("<span class='glyphicon glyphicon-edit'></span> Update");
}

function filterlist(list, currenttext) {
  $(list).each(function () {
    var elemname = $(this).text().toLowerCase();
    if (elemname.indexOf(currenttext) != -1)
      $(this).removeClass("hidden");
    else
      $(this).addClass("hidden");
  });
}
</script>
<h2>Trips Management</h2>
<div class="row">
  <div class="col-lg-3">
    <h3>My trips</h3>
    <div class="input-group">
      <span class="input-group-addon glyphicon glyphicon-search"></span>
      <input type="text" class="form-control rapidsearch" placeholder="Rapid Search" id="txttrips">
    </div>
    <p></p>
    <ul class="list-group" id="tripsList"></ul>
  </div>
  <div class="col-lg-4">
    <h3>Trip details</h3>
    <form class="form-horizontal" role="form" id="tripForm" method="post" action="/index/trips">
      <input type="hidden" id="trip_id" value="0">
      <div class="form-group">
        <label for="tripproject" class="col-lg-4 control-label">Project</label>
        <div class="col-lg-7">
          <select class="form-control" id="tripproject"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="tripdescription" class="col-lg-4 control-label">Description</label>
        <div class="col-lg-7">
          <textarea class="form-control" id="tripdescription" rows="3" placeholder="Description"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="tripstatus" class="col-lg-4 control-label">Status</label>
        <div class="col-lg-7">
          <select class="form-control" id="tripstatus" disabled="disabled"></select>
        </div>
      </div>
      <div class="form-group">
        <label for="tripstart" class="col-lg-4 control-label">Date start</label>
        <div class="col-lg-7">
          <input type="text" class="form-control datepicker" id="tripstart" placeholder="2013-01-01">
        </div>
      </div>
      <div class="form-group">
        <label for="tripend" class="col-lg-4 control-label">Date end</label>
        <div class="col-lg-7">
          <input type="text" class="form-control datepicker" id="tripend" placeholder="2020-12-31">
        </div>
      </div>
      <div class="form-group">
        <label for="tripend" class="col-lg-4 control-label">Services</label>
        <div class="col-lg-7">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default" id="tripcar">
              <input type="checkbox" id="tripcar" ><span class='icon-car'></span>
            </label>
            <label id="tripairplane" class="btn btn-default">
              <input type="checkbox" id="tripairplane" ><span class='icon-airplane'></span>
            </label>
            <label class="btn btn-default" id="triphotel">
              <input type="checkbox" id="triphotel" ><span class='icon-hotel'></span>
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="tripfrom" class="col-lg-4 control-label">From</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" id="tripfrom">
        </div>
      </div>
      <div class="form-group">
        <label for="tripcity" class="col-lg-4 control-label">To</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" id="tripcity">
        </div>
      </div>
      <div class="form-group">
        <label for="tripcountry" class="col-lg-4 control-label">Country</label>
        <div class="col-lg-7">
          <input type="text" class="form-control" id="tripcountry">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4 col-lg-7">
          <button type="submit" class="btn btn-primary" id="btnsubmit"><span class="glyphicon glyphicon-plus"></span> Request</button>
          <button type="reset" class="btn" id="btnreset"> Reset</button>
          <button type="button" class="btn btn-danger hidden" id="btnremove"><span class="glyphicon glyphicon-trash"></span> Remove</button>
        </div>
      </div>
    </form>
  </div>
</div>
